footer {
    display: flex;
    width: 100%;
    background-color: rgb(9, 41, 70);
    color: #fff;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: large;
    padding: 15px;
    margin-top: 20px;
}

footer p {
    color: #fff;
}

footer .fa-github {
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minMax(0px, 1fr));
    }
}

@media screen and (min-width: 300px) and (max-width:780px) {
    .main {
        width: 95vw;
    }
}

@media print {
    .main {
        width: 100%;
    }
    .cv-preview {
        height: 100%;
        border: none;
        box-shadow: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    @page {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.btn-load {
    background-color: var(--lilac);
    width: 100%;
    margin-top: 5px;
}

.btn-reset {
    background-color: #c31d1d;
    width: 100%;
    margin-top: 5px;
}

.btn-print {
    background-color: #28c31d;
    width: 100%;
    margin-top: 5px;
}